<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle Producto</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID: {{ producto.id }} </ion-card-subtitle>
      <ion-card-title>Nombre: {{ producto.nombre }}</ion-card-title>
      <ion-item>Precio: {{ producto.precio }} </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item>Descripcion: {{ producto.descripcion }} </ion-item>
      <ion-item>Imagen: {{ producto.imagen }}</ion-item>
    </ion-card-content>
    <ion-button [routerLink]="['/update-producto', producto.id]" color="warning"><ion-icon name="create"> Actualizar </ion-icon></ion-button>
    <ion-button [routerLink]="['/delete-producto', producto.id]" color="danger"><ion-icon name="trash"> Borrar </ion-icon></ion-button>
  </ion-card>
</ion-content>
